.article-gallery-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;

  .article-container {
    height: 100vh;
    width: 100vw;
    position: relative;

    animation: fadeIn 1.5s;
  }

  .article-image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(60%);
  }

  .no-articles-container {
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .no-articles {
      line-height: 1.25rem;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .article-gallery-container {
    .no-articles-container {
      .no-articles {
        margin: 0 1.5rem;
      }
    }
  }
}
