.footer {
  margin-top: auto;
  text-align: center;
  padding: 2rem;

  .copyright {
    color: var(--light-font-color);
    font-size: 11.5px;
    font-weight: 400;
    line-height: 24px;
  }
  .mobile {
    margin: 1rem auto;
  }

  .links-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    .links-list-item {
      .link {
        color: var(--font-color);
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 1rem 0;

        transition: color 1s cubic-bezier(0.25, 1, 0.25, 1);
        &:hover {
          color: var(--medium-gray);
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .footer {
    .copyright {
      margin-top: 0;
    }

    .links-list {
      align-items: normal;
      flex-wrap: wrap;
      gap: 1rem;
      .link-list-item {
        .link {
        }
      }
    }
  }
}
