.home-page-root {
  width: 100vw;
  min-height: calc(100dvh - 100px);
  position: relative;
  overflow: hidden;

  .home-page-container {
    max-width: 1400px;
    height: 100dvh;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    gap: 100px;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 99999;
      padding-right: 200px;
      margin-right: -200px;

      pointer-events: none;

      .logo-container {
        height: 140px;
        margin-left: -40px;

        .watarrow-word-logo_svg__cls-1 {
          user-select: none;
        }
      }

      p {
        font-size: 20px;
        line-height: 30px;
        user-select: none;
        color: var(--font-color);
      }

      .button-container {
        margin-top: 30px;

        a {
          user-select: none;
          font-size: 13px;
          line-height: 40px;
          display: inline-block;
          border: 2px solid white;
          appearance: none;
          text-transform: uppercase;
          font-weight: 500;
          padding: 0 25px;
          cursor: pointer;
          color: white;
          pointer-events: all;

          &:hover {
            background-color: white;
            color: black;
            transition-property: background-color, color;
            transition-duration: 0.175s;
            transition-timing-function: linear;
          }
        }
      }
    }

    .right {
      width: 100%;
      position: relative;

      .cover {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 200vw;
        height: 200vh;
        background-color: black;
        z-index: 9999;

        &.loaded {
          display: none;
        }
      }

      .stl-viewer-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-53%, -50%); // change as necessary
        width: 200vw;
        height: 100%;
        cursor: grab;
        user-select: none;

        & * {
          height: 100%;
          width: 100%;
        }
      }
    }

    .spacer {
      display: none;
      user-select: none;
    }
  }

  .home-page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--font-color);
    text-align: center;
    font-size: 11.5px;
    padding: 0.75rem 0;
    user-select: none;
    pointer-events: none;
  }
}

// hide elements while dragging
.home-page-root .home-page-footer,
.home-page-root .left,
.navbar,
.mobile-navbar {
  transition: opacity 0.5s cubic-bezier(0.25, 1, 0.25, 1);
}
.home-page-root:active .home-page-footer,
.home-page-root:active .left,
.layout:has(.home-page-root):active .navbar,
.layout:has(.home-page-root):active .mobile-navbar {
  opacity: 0;
}
.navbar:active,
.mobile-navbar:active {
  opacity: 1 !important;
}

@media (max-width: 1600px) {
  .home-page-root {
    .home-page-container {
      gap: 0;
      .left {
        padding-left: 100px;
      }
      .right {
        .stl-viewer-container {
          transform: translate(-54%, -50%);
        }
      }
      .spacer {
        display: block;
        height: 7.5%;
      }
    }
  }
}

@media (max-width: 800px) {
  .home-page-root {
    .home-page-container {
      flex-direction: column;
      justify-content: center;
      padding: 64px 0 0;

      .left {
        padding-right: 0;
        margin-right: 0;
        padding: 0 25px;

        .logo-container {
          height: 80px;
          margin-left: -20px;
        }

        .text-container {
          font-size: 18px;
          line-height: 25px;
        }

        .button-container {
          margin-top: 20px;
        }
      }

      .right {
        height: 25%;

        .stl-viewer-container {
          transform: translate(-39%, -50%);
          height: 140vh;
          width: 130vw;
        }
      }

      .spacer {
        display: block;
        height: 20%;
      }
    }
  }
}
