.menu-button {
  display: none;
  transform: scale(0.33);
  z-index: 1000002;
  margin: -4rem -5rem;
  padding: 4rem 5rem;
}

.menu {
  z-index: 1000001;
  position: fixed;
  top: 0;
  width: 290px;
  height: 100vh;
  background-color: var(--bg-color);
  // border: 2px solid red;
  padding: 0 1.5rem;

  transition: right 0.5s cubic-bezier(0.33, 0.1, 0.1, 1);

  &[data-menu-open="true"] {
    right: 0;
  }
  &[data-menu-open="false"] {
    right: -290px;
  }

  .menu-links-list {
    margin-top: 4rem;
    list-style-type: none;
    .menu-links-list-item {
      text-align: right;
      border-bottom: 1pt solid #252525;
      .menu-link {
        font-weight: 300;
        line-height: 40px;
        color: var(--font-color);
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}

.background {
  &[data-menu-open="true"] {
    opacity: 0.25;
  }
  &[data-menu-open="false"] {
    opacity: 0;
  }
  &[data-background="true"] {
    visibility: visible;
  }
  &[data-background="false"] {
    visibility: hidden;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  z-index: 1000000;

  transition: opacity 0.5s cubic-bezier(0.33, 0.1, 0.1, 1);
}

#hamburger {
  z-index: 1;
  width: 60px;
  height: 45px;
  position: relative;
  margin: auto -22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  & > span {
    display: block;
    position: absolute;
    height: 6px;
    border-radius: 6px;
    width: 100%;
    background: var(--font-color);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
}

#hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

@media (max-width: 800px) {
  .menu-button {
    display: inline-block;
  }
}
