.sponsor-list-root {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .tier-container {
    width: 100%;

    h3 {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 0.5rem;
    }
    hr {
      width: 100%;
      border: 1px solid white;
    }

    .tier-sponsors {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-auto-flow: column;
      flex-wrap: wrap;
      gap: calc(40px / 3);

      margin-top: 1rem;

      .sponsor-button {
        height: 90px;
        width: 180px;
        padding: 15px 35px;
        background-color: white;

        .image-container {
          overflow: hidden;
          width: 100%;
          height: 100%;
          position: relative;

          .sponsor-logo {
            object-fit: contain;

            -webkit-user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .sponsor-list-root {
    .tier-container {
      .tier-sponsors {
        .sponsor-button {
          height: 80px;
          width: 160px;
          padding: 15px 25px;
        }
      }
    }
  }
}
