.navbar {
  margin: 0 12rem;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-link {
    height: 50px;
  }

  .links-list {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-right: 1rem;

    .links-list-item {
      list-style-type: none;

      .link {
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: row-reverse;
    margin: 0 1.5rem;
    height: 4rem;

    .logo-link {
      z-index: 3;
      height: 37.5px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
