.join-root {
  position: relative;
  min-height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .join-content {
    margin: 100px 0 2.5rem;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    max-width: 600px;

    .header {
      h1 {
        color: var(--font-color);
        margin-bottom: 0.5rem;
        font-size: 2.5rem;
      }
      p {
        color: var(--font-color);
        line-height: 1.25rem;
      }
    }

    .general-interest-form {
      h2 {
        color: var(--font-color);
        font-size: 2rem;
        margin-bottom: 0.75rem;
      }
      p {
        color: var(--font-color);
        margin-bottom: 1.5rem;
        line-height: 1.5rem;
        font-size: 1.05rem;
      }
      .basic-button {
        a {
          user-select: none;
          font-size: 15px;
          line-height: 48px;
          display: inline-block;
          border: 2px solid white;
          appearance: none;
          text-transform: uppercase;
          font-weight: 500;
          padding: 0 35px;
          cursor: pointer;
          color: white;
          pointer-events: all;

          &:hover {
            background-color: white;
            color: black;
            transition-property: background-color, color;
            transition-duration: 0.175s;
            transition-timing-function: linear;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .join-root {
    .join-content {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      gap: 2rem;

      .header {
        h1 {
          font-size: 2.25rem;
        }
      }
      .general-interest-form {
        h2 {
          font-size: 1.75rem;
        }
      }
    }
  }
}
