.team-root {
  min-height: 100vh;
  width: 100%;

  img {
    user-select: none;
  }

  .main-image-container {
    height: 100vh;
    width: 100%;
    position: relative;
    // scroll-snap-align: start;

    .main-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 75%;
    }

    .main-image-desktop {
      display: block;
    }
    .main-image-mobile {
      display: none;
    }

    .text {
      position: absolute;
      left: 100px;
      bottom: 100px;
      height: fit-content;

      svg {
        transform: translate(-20px, 5px);
        width: 300px;
      }

      p {
        font-size: 19px;
        width: 400px;
        margin-bottom: 10px;
      }
    }

    @media (max-width: 800px) {
      .main-image-desktop {
        display: none;
      }
      .main-image-mobile {
        display: block;
      }
      .text {
        left: 25px;
        bottom: 150px;

        svg {
          width: 200px;
        }
        p {
          font-size: 16px;
          width: 300px;
          margin-bottom: 4px;
        }
      }
    }
  }

  .card-intro {
    // scroll-snap-align: start;
    height: 200vh;

    .center {
      height: 100vh;
      position: sticky;
      top: 0;
      overflow-x: hidden;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .carasoul {
        position: relative;
        display: flex;
        padding-bottom: 50px;
      }
    }
  }

  .card-about {
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;

    .center {
      display: flex;
      gap: 100px;
      padding: 0 100px;

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;

        .title {
          font-size: 42px;
          color: #fed11c;
        }

        p {
          font-size: 18px;
        }
      }

      .right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          object-fit: cover;
          width: 100%;
          max-height: 90%;
        }
      }
    }

    @media (max-width: 800px) {
      .center {
        flex-direction: column;
        padding: 0 24px;
        gap: 50px;

        .left {
          .title {
            font-size: 36px;
          }
          p {
            font-size: 16px;
          }
        }

        .right {
          img {
            object-fit: contain;
            height: fit-content;
          }
        }
      }
    }
  }

  .card-comp {
    position: relative;

    .text {
      position: absolute;
      top: 100px;
      right: 100px;
      text-align: right;

      h2 {
        color: #fed11c;
        font-size: 42px;
      }

      .location {
        font-size: 24px;
        margin-bottom: 24px;
      }

      .info {
        font-size: 20px;
      }
    }

    .bottom {
      position: absolute;
      bottom: 25px;
      right: 100px;
      text-align: right;
    }

    @media (max-width: 800px) {
      .text {
        top: 25px;
        right: 25px;

        h2 {
          font-size: 36px;
        }
        .location {
          font-size: 20px;
        }
        .info {
          font-size: 18px;
        }
      }
      .bottom {
        right: 25px;
        width: 300px;
      }
    }
  }

  .card-structure {
    padding: 200px 100px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .center {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      flex-direction: row-reverse;

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        h2 {
          color: #fed11c;
          font-size: 42px;
          margin-bottom: 8px;
        }

        .section {
          h3 {
            margin-bottom: 4px;
            font-size: 24px;
          }
          .yellow {
            color: #fed11c;
          }
          p {
            font-size: 18px;
          }
        }
      }

      .right {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .container {
          width: 300px;
        }
      }
    }
    @media (max-width: 800px) {
      .center {
        .right {
          justify-content: center;
        }
      }
    }
  }

  .card-members {
    position: relative;

    .text {
      position: absolute;
      bottom: 100px;
      left: 100px;
      width: 500px;

      h2 {
        color: #fed11c;
        font-size: 42px;
        margin-bottom: 4px;
      }
      p {
        margin-bottom: 8px;
        font-size: 18px;
      }
      .basic-button {
        margin-top: 1rem;
        background-color: transparent;
        outline: none;
        border: none;
        a {
          user-select: none;
          font-size: 13px;
          line-height: 40px;
          display: inline-block;
          border: 2px solid white;
          appearance: none;
          text-transform: uppercase;
          font-weight: 500;
          padding: 0 25px;
          cursor: pointer;
          color: white;
          pointer-events: all;

          &:hover {
            background-color: white;
            color: black;
            transition-property: background-color, color;
            transition-duration: 0.175s;
            transition-timing-function: linear;
          }
        }
      }
    }

    @media (max-width: 800px) {
      .text {
        bottom: 50px;
        left: 25px;
        width: 300px;

        h2 {
          font-size: 36px;
        }
        p {
        }
      }
    }
  }

  @media (max-width: 800px) {
    .card-structure {
      padding: 100px 25px;
      gap: 50px;

      .center {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
      }
    }
  }
}
