font-face {
  font-family: "Avenir 85 Heavy";
  font-weight: 800;
  src: local("Avenir 85 Heavy"),
    url(/fonts/avenir-85-heavy.ttf) format("opentype");
}

/* ===== COLOR PALETTE ===== */
:root {
  --accent-color: #ffcf2e;
  --bright-white: #ffffff;
  --pastel-white: #fcfbfa;
  /* --darker-black: #1f1f1f; */
  --medium-gray: #888888;
  --darker-black: black;
  --pastel-black: #333333;
}

html[data-theme="light"] {
  --font-color: var(--darker-black);
  --bg-color: var(--bright-white);
}
html[data-theme="dark"] {
  --font-color: var(--bright-white);
  --bg-color: var(--darker-black);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Neue Haas Grotesk Text", "Roboto", sans-serif;
  letter-spacing: -0.02rem;
  transition: all 0.5s ease;
  transition-property: background-color, color, border-color, fill;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-color);
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: var(--font-color);
  color: var(--bg-color);
}
