@font-face {
  font-family: "Avenir 85 Heavy";
  font-weight: 800;
  src: url("/fonts/avenir-85-heavy.woff2") format("woff2");
}

/* ===== COLOR PALETTE ===== */
:root {
  --accent-color: #ffcf2e;
  --bright-white: #ffffff;
  --pastel-white: #fcfbfa;
  --medium-gray: #888888;
  --darker-black: #000000;
  --pastel-black: #333333;

  --font-color: var(--bright-white);
  --light-font-color: var(--pastel-white);
  --bg-color: var(--darker-black);
  --light-bg-color: var(--pastel-black);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Neue Haas Grotesk Text", "Roboto", sans-serif;
  letter-spacing: -0.02rem;
  transition: all 0.5s ease;
  transition-property: background-color, color, border-color, fill;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  background-color: var(--bg-color);
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: var(--font-color);
  color: var(--bg-color);
}
